Repository OctaviaRoob/FHETransitAnalytics: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint, eslint --fix

.lintstagedrc:

{
  "*.sol": ["prettier --write", "solhint"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{tsx,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

chore: create .prettierignore
  .prettierignore
Due: none

chore: update .prettierrc
  .prettierrc
Due: none

chore: create .solhint
  .solhint
Due: none

docs: update CI_CD_DOCUMENTATION documentation
  CI_CD_DOCUMENTATION.md
Due: prettier --write

docs: update COMPLETE_IMPLEMENTATION_SUMMARY documentation
  COMPLETE_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

docs: update CONTRACT_ADDRESS_VERIFICATION documentation
  CONTRACT_ADDRESS_VERIFICATION.md
Due: prettier --write

docs: update DEPLOYMENT_STATUS documentation
  DEPLOYMENT_STATUS.md
Due: prettier --write

docs: update DEPLOYMENT documentation
  DEPLOYMENT.md
Due: prettier --write

docs: update ENHANCEMENTS_SUMMARY documentation
  ENHANCEMENTS_SUMMARY.md
Due: prettier --write

docs: update ENV_CONFIG_SUMMARY documentation
  ENV_CONFIG_SUMMARY.md
Due: prettier --write

docs: update ENV_DEPLOYMENT_GUIDE documentation
  ENV_DEPLOYMENT_GUIDE.md
Due: prettier --write

feat: add new features
  hardhat.config.deploy.js
  hardhat.config.js
Due: prettier --write, eslint --fix

docs: update HARDHAT_FRAMEWORK_SUMMARY documentation
  HARDHAT_FRAMEWORK_SUMMARY.md
Due: prettier --write

docs: update IMPLEMENTATION documentation
  IMPLEMENTATION.md
Due: prettier --write

docs: update LICENSE documentation
  LICENSE
Due: none

build: update tsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

docs: update LICENSE_AND_CICD_SUMMARY documentation
  LICENSE_AND_CICD_SUMMARY.md
Due: prettier --write

docs: update PROJECT_STRUCTURE documentation
  PROJECT_STRUCTURE.md
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

docs: update README_IMPLEMENTATION_SUMMARY documentation
  README_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

docs: update SECURITY_AND_PERFORMANCE documentation
  SECURITY_AND_PERFORMANCE.md
Due: prettier --write

docs: update SECURITY_PERFORMANCE_SUMMARY documentation
  SECURITY_PERFORMANCE_SUMMARY.md
Due: prettier --write

docs: update SECURITY_TOOLCHAIN_VALIDATION documentation
  SECURITY_TOOLCHAIN_VALIDATION.md
Due: prettier --write

docs: update TEST_IMPLEMENTATION_SUMMARY documentation
  TEST_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

docs: update TESTING documentation
  TESTING.md
Due: prettier --write

refactor: remove unused code in scripts
  contracts/ConfidentialTransitAnalytics.sol
  demo.mp4
  hardhat.config.js
  package.json
  scripts/deploy.js
Due: prettier --write, solhint, eslint --fix

docs: update UI_UX_IMPLEMENTATION documentation
  UI_UX_IMPLEMENTATION.md
Due: prettier --write

Create deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

Create commit-msg
  .husky/commit-msg
Due: none

PULL_REQUEST_TEMPLATE
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

dependabot
  .github/dependabot.yml
Due: prettier --write

workflows
  .github/workflows/contracts-ci.yml
  .github/workflows/frontend-ci.yml
Due: prettier --write

Delete .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Due: prettier --write

pre-commit
  .husky/pre-commit
Due: none

cache
  cache/solidity-files-cache.json
Due: prettier --write

deployments
  deployments/sepolia.json
Due: prettier --write

contracts
  contracts/ConfidentialTransitAnalytics.sol
Due: prettier --write, solhint

public
  public/index.html
  public/index_new.html
Due: none
