Repository OctaviaRoob/FHETransitAnalytics: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, solhint, eslint --fix

.lintstagedrc:

{
  "*.sol": ["prettier --write", "solhint"],
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.{tsx,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"]
}

frontend
  frontend/DEPLOYMENT.md
  frontend/PROJECT_SETUP.md
  frontend/README.md
  frontend/UI_UX_IMPLEMENTATION.md
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/app/providers.tsx
  frontend/components/AnalysisPanel.tsx
  frontend/components/ContractStatus.tsx
  frontend/components/DataSubmissionForm.tsx
  frontend/components/TransactionHistory.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/loading.tsx
  frontend/components/ui/toast.tsx
  frontend/components/ui/toaster.tsx
  frontend/config/contract.ts
  frontend/config/wagmi.ts
  frontend/lib/hooks/useContract.ts
  frontend/lib/hooks/useToast.ts
  frontend/lib/hooks/useTransactionHistory.ts
  frontend/lib/utils.ts
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/postcss.config.js
  frontend/tailwind.config.ts
  frontend/tsconfig.json
  frontend/types/index.ts
Due: prettier --write, eslint --fix

test
  test/ConfidentialTransitAnalytics.test.js
  test/ConfidentialTransitAnalytics.test.ts
Due: prettier --write, eslint --fix

scripts
  scripts/deploy.js
  scripts/interact-simple.js
  scripts/interact.js
  scripts/simulate.js
  scripts/verify.js
Due: prettier --write, eslint --fix

Create .env.example
  .env.example
Due: none

Create .eslintignore
  .eslintignore
Due: none

Create .eslintrc
  .eslintrc
Due: none

Create .gitignore
  .gitignore
Due: none

Create .lintstagedrc
  .lintstagedrc
Due: none

Create .prettierignore
  .prettierignore
Due: none

Create .prettierrc
  .prettierrc
Due: none

Create .solhint
  .solhint
Due: none

CI_CD_DOCUMENTATION
  CI_CD_DOCUMENTATION.md
Due: prettier --write

COMPLETE_IMPLEMENTATION_SUMMARY
  COMPLETE_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

CONTRACT_ADDRESS_VERIFICATION
  CONTRACT_ADDRESS_VERIFICATION.md
Due: prettier --write

DEPLOYMENT_STATUS
  DEPLOYMENT_STATUS.md
Due: prettier --write

DEPLOYMENT
  DEPLOYMENT.md
Due: prettier --write

ENHANCEMENTS_SUMMARY
  ENHANCEMENTS_SUMMARY.md
Due: prettier --write

ENV_CONFIG_SUMMARY
  ENV_CONFIG_SUMMARY.md
Due: prettier --write

ENV_DEPLOYMENT_GUIDE
  ENV_DEPLOYMENT_GUIDE.md
Due: prettier --write

hardhat.config
  hardhat.config.deploy.js
  hardhat.config.js
Due: prettier --write, eslint --fix

HARDHAT_FRAMEWORK_SUMMARY
  HARDHAT_FRAMEWORK_SUMMARY.md
Due: prettier --write

IMPLEMENTATION
  IMPLEMENTATION.md
Due: prettier --write

LICENSE
  LICENSE
Due: none

package
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

LICENSE_AND_CICD_SUMMARY
  LICENSE_AND_CICD_SUMMARY.md
Due: prettier --write

PROJECT_STRUCTURE
  PROJECT_STRUCTURE.md
Due: prettier --write

README
  README.md
Due: prettier --write

README_IMPLEMENTATION_SUMMARY
  README_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

SECURITY_AND_PERFORMANCE
  SECURITY_AND_PERFORMANCE.md
Due: prettier --write

SECURITY_PERFORMANCE_SUMMARY
  SECURITY_PERFORMANCE_SUMMARY.md
Due: prettier --write

SECURITY_TOOLCHAIN_VALIDATION
  SECURITY_TOOLCHAIN_VALIDATION.md
Due: prettier --write

TEST_IMPLEMENTATION_SUMMARY
  TEST_IMPLEMENTATION_SUMMARY.md
Due: prettier --write

TESTING
  TESTING.md
Due: prettier --write

vercel
  contracts/ConfidentialTransitAnalytics.sol
  demo.mp4
  hardhat.config.js
  package.json
  scripts/deploy.js
Due: prettier --write, solhint, eslint --fix

UI_UX_IMPLEMENTATION
  UI_UX_IMPLEMENTATION.md
Due: prettier --write

Add files via upload
  IMPLEMENTATION_SUMMARY.md
  contracts/ConfidentialTransitAnalytics.sol
  contracts/EnhancedConfidentialTransitAnalytics.sol
  docs/API_REFERENCE.md
  docs/ARCHITECTURE.md
  docs/SECURITY.md
Due: prettier --write, solhint

Add files via upload
  README.md
Due: prettier --write

Delete README.md
  README.md
Due: prettier --write
